{:nrepl {:port 7002}
 :builds
        {:app
               {:target     :browser
                :output-dir "target/cljsbuild/public/js"
                :asset-path "/js"
                :modules    {:app {:entries [planet.app]}}
                
                :release    {}}
         :test {:target  :node-test, :output-to "target/test/test.js"
                :autorun true}}
 :lein  {:profile "+dev"}}
